<div class="container-fluid profile-image-cnt" [ngStyle]="{'background-image': 'url(' + (InstituteImages?.thumbnail || '/assets/no-image.png') + ')'}">
    <div class="edit-profile-btn" (click)="goToEditImage()">
        <p><span><img src="../../../assets/tabler_edit.png"/></span>Edit Profile Images</p>
    </div>
    <div class="col-6">
        <div class="logo-wrapper">
            <div class="logo-cnt"  [ngStyle]="{'background-image': 'url(' + (InstituteImages?.logo || '/assets/no-image.png') + ')'}"></div>
        </div>
    </div>
    <div class="col-6">
   
    </div>

</div>

<div class="container-fluid content-cnt">
    <div class="row">
        <div class="flex-container">
            <h1 class="text-start">{{InstituteData.instituteName || 'Dummy Text'}}</h1>
            <h6 class="text-end edit-profile"  (click)="goToEdit()"><span><img src="../../../assets/edit.svg" style="width:15px"/></span>edit profile</h6>
        </div>

        <p class="institute-details">
            Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.
        </p>

        <div class="contact-details">
            <ul>
                <li class="owner_name"><span><img src="../../../assets/profile.png"/></span> {{InstituteData.ownerName || 'Dummy Text'}} </li>
                <li><span><img src="../../../assets/phone.png"/></span> {{InstituteData.mobileNumber || '9876543216'}} </li>
                <li><span><img src="../../../assets/mail.png"/></span> {{InstituteData.email || 'dummy@yopmail.com'}} </li>
            </ul>
        </div>
    </div>
    

</div>
<div class="add-course-cnt">
    <div class="d-flex">
        <div>
            <h6>Launch Your Course</h6>
        <p>Create courses and start earning anytime, anywhere.</p>
        </div>
        <div>
            <button class="add-course-btn" (click)="addCourse()">
                + Add Course
            </button>
        </div>
    </div>
</div>