<div class="container-fluid profile-image-cnt">

    <div class="col-6">
        <div class="logo-wrapper">
            <div class="logo-cnt"></div>
        </div>
    </div>
    <div class="col-6">
        <!-- <p>hello</p> -->
    </div>

</div>

<div class="container-fluid content-cnt">
    <div class="row">
        <div class="flex-container">
            <h1 class="text-start">Institute Name</h1>
            <h6 class="text-end">edit profile</h6>
        </div>

        <p class="institute-details">
            Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.
            Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.
            Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.Lorem Ipsum is a dummy text.
        </p>

        <div class="contact-details">
            <ul>
                <li class="owner_name"><span><img src="../../../assets/profile.png"/></span> Owner </li>
                <li><span><img src="../../../assets/phone.png"/></span> (302) 555-0107 </li>
                <li><span><img src="../../../assets/mail.png"/></span> bb-hotelgmail.com </li>
            </ul>
        </div>
    </div>
</div>
