@import "../../assets/variables/colors.scss"; // Import color variables

/* Button Styling */
.primary-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:  $primary;  // Reusing primary color from variables
    color: white;
    text-align: center;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Input Control Styling */
.input-control {
    width: 100%;
    height: 38px;
    border-radius: 7px;
    border: solid 1px $input-border; // Use a variable for border color;
    font-size: 12px;
    padding:10px;
}

.input-wrapper {
    position: relative;
    width: 100%;
  }
  

  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the icon from interfering with input */
  }
  
  .icon img {
    width: 15px; /* Adjust the size of the icon */
    height: 15px;
  }

  
.input-control-2 {
    width: 100%;
    height: 38px;
    border-radius: 7px;
    font-size: 12px;
    width: 100%;
    padding-right: 40px;
    color:$text-color;
    background-color: #E4E6EB;
    border: none;
}

/*  Form Field Styling */
.form-field{
    margin-top:1.5em;
}

/*  Input Label Styling */
.form-label{
    color:$text-color;
    font-size:14px;
    font-weight:500
}
/* Define other reusable elements here */

/* Reusable flexbox utility classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spacing utilities */
.margin-small {
    margin: 8px;
}

.padding-medium {
    padding: 16px;
}
